In [1]:
import numpy as np

import pandas as pd

In [4]:
data = np.random.randn(3, 3)
data

array([[-1.54313769,  0.29356436, -0.53889251],
       [-0.56629913, -0.24765348,  2.55606588],
       [-0.94783257, -0.54230118,  0.55578838]])

In [10]:
df = pd.DataFrame(data, columns=['a','b','c'])
df

          a         b         c
0 -1.543138  0.293564 -0.538893
1 -0.566299 -0.247653  2.556066
2 -0.947833 -0.542301  0.555788